* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #222;
	color: #FFF;
	font-family: sans-serif;
	padding: 1rem;
}

#todo-form {
	margin: 1rem 0;
}

ul {
	list-style-type: none;
}

li {
	margin: 1rem 0;
}

li button {
	margin-left: 0.5rem;
	padding: 0 1rem;
}